body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#result {
  display: none;
  margin-top: 10px;
}

button:hover {
  transform: scale(1.3);
  background-color: lightblue;
}
