body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

#result {
  display: none;
  margin-top: 10px;
  font-family: fantasy;
}

#board {
  display: none;
  font-size: 16pt;
}

button {
  background-image: url("../img/paper.jpg");
}

button:hover {
  transform: scale(1.1);
  background-color: lightblue;
}

.jumbotron {
    background-image: url("../img/paper.jpg");
    opacity: 0.92;
}

.jumbotron h1 {
 font-family: fantasy;
 text-align: center;
}

.jumbotron h2 {
 font-family: fantasy;
 text-align: center;
}

.small {
  font-size: 12pt;
}

.jumbotron {
  background-color: rgba(255, 255, 255,0.9);
}
 .panel {
   text-align: justify;
   background-image: url("../img/paper.jpg");
   opacity: 0.92;
 }

.entered {
  font-size: 24pt;
}

.description {
  margin-top: 10px;
  font-family: fantasy;
  background-image: url("../img/paper.jpg");
}

.fantasy-text {
  font-family: fantasy;
}
